<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="Emma Wong">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title> 
</head>

<body style = "font-family: Arial;">
    <header style="color: blue; background: lightblue;">
        <h1> Emma Wong </h1> 
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>

    <div class="main">
        <h2> Curriculum Vitae</h2>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Education</td>
                <td>B.S. in Information Systems, Carnegie Mellon University</td>
            </tr>    
            <tr>
                <td>Work Experience</td>
                <td>Internship at Wall Street - Data Analyst</td>
            </tr>
            <tr>
                <td>Skills</td>
                <td>HTML, CSS, JavaScript, Python, LateX</td>
            </tr>
            <tr>
                <td>Projects</td>
                <td>Developed Tetris Game using CMU Graphics</td>
            </tr>
        </table>
        <p><a href="file:///Users/emmawong/Downloads/MyResume.pdf" target="_blank">Download my Resume (PDF)</a></p>
    </div>
    <footer>
        <p>&copy; 2025 Emma Wong</p>
    </footer>
</body>
</html>